{{#each cells}}
<span class="rowWrapper">
    {{#each this}}
        {{#ifCond this 0}}
            <span class="cell empty">&nbsp;</span>
        {{else}}
            <span class="cell filled">&nbsp;</span>
        {{/ifCond}}
    {{/each}}
</span>
{{/each}}
<div class="info-content">
    <span>
        <b>SCORE:</b> {{score}}}
    </span>
    <span>
        <b>LEVEL:</b> {{level}}}
    </span>
</div>