.tetris-main-content {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.tetris-main-content .gameField {
  width: 270px;
  margin: 0 auto;
}

.tetris-main-content * {
  padding: 0;
  margin: 0;
}

.tetris-main-content .rowWrapper {
  display: block;
}

.tetris-main-content .rowWrapper .cell {
  width: 50px;
  height: 50px;
  border: 2px solid #ccc;
  float: left;
}

.tetris-main-content .rowWrapper .cell.empty {
  display: inline-block;
  color: #000000;
  background-image: url('../images/empty.jpg');
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  border: 1px solid #ddd;
}

.tetris-main-content .rowWrapper .cell.filled {
  display: inline-block;
  color: #ffffff;
  background-image: url('../images/filled.jpg');
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  border: 1px solid #cccccc;
}

.help-content {
  display: inline;
  float: left;
  text-align: left;
}

.info-content {
  display: block;
  background-color: azure;
  border: 2px solid gray;
}

.info-content span {
  font-weight: bold;
  color: darkgreen;
  font-size: larger;
}

.info-content span b {
  color: #393939;
}